In [1]:
import pandas as pd
import statistics as s
import numpy as np

Method 1: Calculating Median of DataFrame Column using Pandas

In [5]:
df = pd.DataFrame({
    "Students" : ['Ria', 'Joy', 'Ana', 'Sia', 'Heya', 'Sen'],
    "Marks" : [60, 50, 30, 40, 20, 10]}
)
df.head()

  Students  Marks
0      Ria     60
1      Joy     50
2      Ana     30
3      Sia     40
4     Heya     20

In [6]:
Median = df.Marks.median()
print('Middle value of marks is:', Median)

Middle value of marks is: 35.0

Method 2: Code without function

In [7]:
def evenodd(n):
    if(n%2==0):
        return 1
    else:
        return 0

In [14]:
# values = df.Marks.sort_values()
values = df['Marks'].sort_values().reset_index(drop=True)
# print(values)
n = values.count()
# print(n)
x = evenodd(n)
# print(x)
if(x==1):
    # print('even')
    middle1 = (n//2) - 1
    middle2 = (n//2)
    # print(middle1, middle2)
    print('Middle value of data points is:', (values[middle1]+values[middle2])//2)
else:
    middle = n//2
    print('Middle value of data points is:', values[middle])

Middle value of data points is: 35

Method 3: Calculating Median of DataFrame Column using Statistics

In [58]:
print(s.median(df.Marks))

40

Method 4: Calculating Median of DataFrame Column using Numpy

In [61]:
print(np.median(df.Marks))

40.0