In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame({
    "Region": ['A', 'B', 'C'],
    "Sales": [300.23, 500.98, 200.10]
})

In [11]:
df['Rounded_sales'] = df['Sales'].round()
df.head()

  Region   Sales  Rounded_sales  Approx_sales
0      A  300.23          300.0         300.0
1      B  500.98          501.0         500.0
2      C  200.10          200.0         200.0

In [13]:
df['Approx_sales'] = (df['Sales']/100).round()*100

In [14]:
df.head()

  Region   Sales  Rounded_sales  Approx_sales
0      A  300.23          300.0         300.0
1      B  500.98          501.0         500.0
2      C  200.10          200.0         200.0