In [3]:
import pandas as pd

In [8]:
df = pd.DataFrame({
  "subject": ['Maths', 'English', 'Physics', 'Chemistry', 'Biology'],
  "score": [98, 50, 95, 92, 20],
  "weightage": [5, 2, 5, 5, 1]
})

In [10]:
df['weighted_sum'] = df.score*df.weightage
df.head()

     subject  score  weightage  weighted_sum
0      Maths     98          5           490
1    English     50          2           100
2    Physics     95          5           475
3  Chemistry     92          5           460
4    Biology     20          1            20

In [12]:
total_weighted_sum = sum(df.weighted_sum)
total_weighted_sum

1545

In [15]:
total_weights = sum(df.weightage)
total_weights

18

In [17]:
result = total_weighted_sum/total_weights
result

85.83333333333333