In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
       "Product_id": [101, 102, 103],
       "Revenue": [500, 700,500],
       "Cost": [300, 400, 500]
    }
)

In [9]:
df['Profit'] = df['Revenue'] - df['Cost']
df.head()

   Product_id  Revenue  Cost  Profit
0         101      500   300     200
1         102      700   400     300
2         103      500   500       0