In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        "Product_ID":[101, 102, 103],
        "Price": [20, 15, 25], 
        "Quantity_sold": [5, 8, 4], 
        "Total_revenue": [100, 120, 100]
    } 
)

In [3]:
df['Total_revenue'] = df['Price']*df['Quantity_sold']

In [4]:
df.head()

   Product_ID  Price  Quantity_sold  Total_revenue
0         101     20              5            100
1         102     15              8            120
2         103     25              4            100