In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    "Product_ID": [101, 102, 103],
    "Total_Cost": [500, 600, 900],
    "Units_Produced": [50, 30, 60],
})

In [5]:
df['Average cost per unit'] = df['Total_Cost']/df['Units_Produced']
df.head()

   Product_ID  Total_Cost  Units_Produced  Average cost per unit
0         101         500              50                   10.0
1         102         600              30                   20.0
2         103         900              60                   15.0