In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame(
    {
    "Item_id": [1, 2, 3, 4, 5, 6],
    "Value": [25, 48, 32, 19, 77, 90],
    }
)

In [8]:
df["Even/Odd"] = df["Value"].apply(lambda x: "Even" if x%2==0 else "Odd")
df.head()

   Item_id  Value Even/Odd
0        1     25      Odd
1        2     48     Even
2        3     32     Even
3        4     19      Odd
4        5     77      Odd