In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame(
 {
     "Investment_id": [1, 2, 3],      
     "Principal": [1000, 1500, 2000],
     "Growth Rate": [5, 7, 4],
     "Years": [2, 3, 5], 
 }
)

In [ ]:
df['Final_amount'] = df['Principal']*(1 + df['Growth Rate']/100)**df['Years']
df.head()
#compound_interest = principal*(1 + growth_rate/100)**years

   Investment_id  Principal  Growth Rate  Years  Final_amount
0              1       1000            5      2   1102.500000
1              2       1500            7      3   1837.564500
2              3       2000            4      5   2433.305805

In [12]:
print(pow(5, 2))

25