In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(
    {
    "Student_id":[1,2,3,4],
    "Total_marks":[500, 460, 540, 350],
    "Marks_per_subject":[50, 40, 60, 50]
    }
)

In [7]:
df['No_of_subjects'] = df['Total_marks']//df['Marks_per_subject']
df.head()

   Student_id  Total_marks  Marks_per_subject  No_of_subjects
0           1          500                 50              10
1           2          460                 40              11
2           3          540                 60               9
3           4          350                 50               7