In [5]:
import pandas as pd

In [6]:
data = pd.DataFrame({
    "Region": ['A', 'B', 'C'],
    "Sales": [300, 500, 200]
})

In [12]:
total_sales =sum(data.Sales)

In [13]:
data['Fraction'] = data["Sales"]/total_sales

In [14]:
data.head()

  Region  Sales  Fraction
0      A    300       0.3
1      B    500       0.5
2      C    200       0.2

In [15]:
data['Percentage'] = data['Fraction']*100

In [17]:
data.head()

  Region  Sales  Fraction  Percentage
0      A    300       0.3        30.0
1      B    500       0.5        50.0
2      C    200       0.2        20.0